body {
  font-family: sans-serif;
  background-color: #fff8e1;
  color: #111111;
}

.header {
  margin: auto;
  text-align: center;
}

.container {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 2rem;
}

.avatar {
  width: min(250px, 90%);
  margin-top: 1rem;
}

.title {
  font-weight: 300;
}

.bio {
  font-style: italic;
  font-weight: 400;
}

.error {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ff5722;
}
